*{
    font-family: 'Times New Roman', Times, serif;
}
h5,h6{
    font-family: Arial, Helvetica, sans-serif
}
p{
    font-family: 'Times New Roman', Times, serif;
}
h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}
.fas{
    color:black;
}
.profilepic{
    width: 50%;
    /* margin: auto; */
}
